@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    
    .containerHome{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  0.5fr 1fr 0.1fr;
        grid-template-areas:"play"
                            "movies"
                            "footer";
    }

    .buttonSignup{
        background-color: #3177FF;
        color: white;
        width: 84px;
        height: 30px;
        margin: 10px 10px 0 0;
        border-radius: 5px;
        font-weight: 400;
        font-family: "Roboto" , sans-serif;
    }

    .play{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0.3fr 0.3fr;
        grid-template-areas:"categories"
                            "movy"
                            "player";
        grid-area: play;
        color: white;
        background: linear-gradient(to bottom, rgba(4,7,19,0) 20%, rgba(4,7,19,1) 75%), url('./movie.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

    }

    .categories{
        grid-area: categories;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        padding-top: 90px;
        line-height: 19px;
        list-style: none;
        margin: 0 15% 0 10%;
    }


    .movy{
        grid-area: movy;
        display: flex;
        justify-self: center;
        justify-content: center;
        margin-top: 20px;
        width: 248px;
        height: 28px;
        border-radius: 5px;
        background-color: rgba(5,120, 255,0.3);
        font-family: "Roboto";
        font-weight: bold;
        color: #0578FF;
        padding-top: 6px;
    }


    .player{
        grid-area: player;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        list-style: none;
        margin: 10% 15% 20% 10%;
        color: white;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .player a{
        color: white;
        text-decoration: none;
    }

    .player i{
        margin-bottom: 10px;
    }

    .movies{
        display: flex;
        text-align: start;
        flex-direction: column;
        grid-area: movies;
        background-color: #040713;
        font-family: "Roboto";
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        color: white;
        padding: 10px;
        padding-bottom: 30%;
        letter-spacing: 0.84px;
    }

    .mylist{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        width: 100%;
        padding-left: 5px;
        list-style:none;

    }

    .trendingnow{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding-left: 5px;
        list-style:none;
    }

    .recently
        {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding-left: 5px;
        list-style:none;
    }
    
    h4{
        justify-self: flex-start;
        font-family: "Roboto" , sans-serif;
        padding: 20px;
    }
    
    .footer{
            grid-area: footer;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 6%;
            background-color: #040713;
            color: white;
            font-family: "Roboto" , sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
    }

    @media (min-width: 640px) {

        .play{
            background-position: initial;
            background-size:100%;
        }
    
        .categories{
            margin: 0 30% 0 30%; 
        }
    
        .player{
            margin: 10% 30% 20% 30%;
        }
    
        }
    
    @media (min-width: 1024px) {
    
    .containerHome{
            grid-template-rows:  0.2fr 0.2fr 0.1fr;   
        }
    
    .play{
        background-position: center;
        background-size:100%;
    }
    
    .categories{
        padding-top: 15%;
        margin: 0 35% 0 35%;
    }
    
    .player{
        margin: 0% 40% 2% 40%;
    }
    
    }

/*-------------------------------LOGIN-----------------------------------------------------------------------------------------*/

.containerLogin{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1.9fr;
    grid-template-areas: "mainfoto"
                         "divform"
                         "footer";
}

.mainfoto{
    grid-area: mainfoto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: url('./friki.jpg');
    background-position:center;
    background-size: cover;
    }

.divform{
    grid-area: divform;
    display: flex;
    flex-direction: column;
    background-color:#040713;
    padding-top: 10%;
}

.forminput{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 45px;
    margin: 10px;
    margin-left: 15px;
    border-radius: 5px;
    padding-left:10px;
    color: #3177FF;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
}


.buttonlog{
        align-self: center;
        background-color: #3177FF;
        color: white;
        width: 195px;
        height: 30px;
        margin-top: 40px;
        border-radius: 5px;
        font-weight: 400;
        font-family: "Roboto" , sans-serif;
}

@media (min-width: 768px) {

    .containerLogin{
            height: 448px;
            grid-template-columns: 0.9fr 1.1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "divform mainfoto"
                                 "footer footer"   ;                        
    }

    .divform{
        padding-top: 25%;
    }

    .login-now{
        margin-bottom: 10%;
    }

}

@media (min-width: 1024px) {

.containerLogin{
    height: 972px;
}

}*/

/*----------------------------------REGITER----------------------------------------------------------------------------------*/


    .fotoyform1{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1.25fr 0.5fr;
            grid-template-areas: "mainphoto2"
                                 "form1"
                                 "footer";

        }

    .mainfoto2{
        display: flex;
        justify-content: flex-end;
        background-image: url('./friki.jpg');
        background-position:center;
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    .form1{
        background-color:#040713;
    }

    .form2{
        grid-area: form2;
        display: flex;
        flex-direction: column;
        background-color: #040713;
        color: white;
    }

    .choose{
        background-color: #040713;
        text-align: center;
        padding-top: 30px;
        flex-direction: column;
        font-family: "Roboto";
        line-height: 21px;
        font-size: 18px;
    }

    .choose p{
        display: flex;
        justify-content: center;
        padding-right: 64px;
        padding-left: 64px;
        padding-top: 30px;
        font-size: 11px;
        font-weight: 400;
    } 

    .inputform2{
        display: inline-block;
        text-align: left;
        padding-top: 15px;
        padding-left: 30px;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        font-family: "Roboto";

    }

    .buttonSignupNow{
        align-self: center;
        background-color: #3177FF;
        color: white;
        width: 84px;
        height: 40px;
        margin: 10px 10px 0 0;
        border-radius: 5px;
        font-weight: 400;
        font-family: "Roboto" , sans-serif;
    }
    
/*Para continuar con estilo
     @media (max-width: 768px) {
            .login2{
                display: none;
            }
        }

        @media (min-width: 768px) {
        
        .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1.5fr;
        grid-template-areas:"photoyform1"
                            "form2"
                            "footer";
        }


        .photoyform1{
            display: flex;
            position: relative;
            background: url(https://images.pexels.com/photos/4048090/pexels-photo-4048090.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
            background-size: 75% auto;
            background-position: center;
            
        }

        .login2{
            display: flex;
            background-color: #3177FF;
            color: white;
            text-align: center;
            width: 84px;
            height: 30px;
            margin: 10px 10px 0 45%;
            padding-top: 5px;
            padding-left: 20px;
            border-radius: 5px;
            font-weight: 400;
            font-family: "Roboto";
            font-size: 14px;
            font-style: normal;
        }        

        .form1{
            background-color: #2A2828;
            width:45%;
        }
        
        .mainphoto{
            display: none;
        }

        .inputform2{
            display: inline-block;
            text-align: left;
            align-self: center;
            padding-top: 30px;
            padding-left: 20px;
            line-height: 40px;
            font-size: 18px;
            font-weight: bold;
            font-family: "Roboto" , sans-serif;

        }
         
    }

    @media (min-width: 1024px) {

        .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1.4fr 0.8fr;
        grid-template-areas:"photoyform1"
                            "form2"
                            "footer";
    }


        .photoyform1{
            position: relative;
            display: flex;
            background: url(https://images.pexels.com/photos/4048090/pexels-photo-4048090.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
            background-size: 75% auto;
            background-position: center;
    }

        
        .login2{
                display: flex;
                background-color: #3177FF;
                color: white;
                text-align: center;
                width: 84px;
                height: 30px;
                margin: 10px 10px 0 2.5%;
                padding-top: 5px;
                padding-left: 20px;
                border-radius: 5px;
                font-weight: 400;
                font-family: "Roboto";
                font-size: 14px;
                font-style: normal;
            }    

    
        }
*/


    /*----------------------------------------------INFO---------------------------------------------------------------------------------------------------------*/


    .containerInfo{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 1fr;
        grid-template-areas:"mainfoto"
                            "onemore"
                            "devices"
                            "footer";
    }
    
    
    
    
    .onemore{
        grid-area: onemore;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #040713;
        color: white;
        font-family: "Roboto";
    }
    
    h1{
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }
    
    h3{
        font-family: "Roboto";
        font-size: 14px;
        line-height: 16px;}
    
    h4{
        font-family: Roboto;
        font-size: 14px;
        text-align: center;
    }
    
    h5{
        font-family: Roboto;
        font-style: normal;
        font-weight: 10px;
        font-size: 12px;
        text-align: center;
    }
    
    p{
        font-family: "Roboto";
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        color: lightslategray;
    }
    
    .signup-now{
                align-self: center;
                background-color: #3177FF;
                color: white;
                width: 195px;
                height: 30px;
                margin-top: 40px;
                border-radius: 5px;
                font-weight: 400;
                font-family: "Roboto";
        }
    
    .login{
            align-self: flex-end;
            background-color: #3177FF;
            color: white;
            width: 84px;
            height: 30px;
            margin: 10px 10px 0 0;
            border-radius: 5px;
            font-weight: 400;
            font-family: "Roboto" , sans-serif;
    }
        
    
    .devices{
        grid-area: devices;
        display: flex;
        justify-content: space-around;
        background-color:#040713;
        padding:5% 15% 0% 15%;
        flex-wrap: wrap;
    }
    
    i{
      color:white;  
    }
    
    .mobile i{
        margin-left: 40px;
    }


